* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.section-header {
  background-image: url("./images/baground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-header .container {
  width: 80%;
  margin: 0 auto;
}
.section-header .banner-img {
  width: 100%;
  height: 100%;
}
.section-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 100%;
}
.section-header .navbar .menu-icon {
  display: none;
}
@media (max-width: 375px) {
  .section-header .navbar .menu-icon {
    display: block;
    justify-content: center;
  }
}
.section-header .navbar .menu-icon .fas {
  color: #fff;
  display: none;
}
@media (max-width: 768px) {
  .section-header .navbar .menu-icon .fas {
    display: block;
    cursor: pointer;
  }
}
.section-header .navbar .portfolio {
  color: #fff;
  font-size: 20px;
}
@media (max-width: 768px) {
  .section-header .navbar .home {
    display: none;
  }
}
.section-header .navbar .home a {
  margin-right: 15px;
  color: #fff;
  font-size: 16px;
}

.heding_hi {
  padding: 152px 0px 106px 0px;
}
@media (max-width: 992px) {
  .heding_hi {
    padding: 130px 0px 70px 0px;
  }
}
.heding_hi h1 {
  font-size: 35px;
  font-weight: 200;
  color: #fff;
}
.heding_hi p {
  font-size: 18px;
  margin-top: 15px;
  color: #fff;
  font-weight: 200;
}

.teks {
  padding-bottom: 240px;
  font-weight: 200px;
  font-size: 15px;
}
@media (max-width: 992px) {
  .teks {
    padding-bottom: 180px;
  }
}
.teks p {
  font-size: 18px;
  margin-top: 15px;
  color: #fff;
  font-weight: 200;
}

.main__p {
  background-color: #fff;
}
.main__p .container2 {
  width: 80%;
  margin: 0 auto;
}
.main__p .container2 .main__teks .about {
  padding-top: 93px;
  color: #333333;
  font-size: 18px;
}
.main__p .container2 .main__teks .lorem1 {
  padding: 40px 0px;
}
.main__p .container2 .main__teks .lorem2 {
  padding-top: 40px;
  padding-bottom: 115px;
}

.container11 {
  width: 60%;
  background-color: #ddd;
}
.container11 .skills {
  text-align: right;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #F5D6AB;
}
.container11 .html {
  width: 50%;
  background-color: #C66C49;
}
.container11 .css {
  width: 60%;
  background-color: #C66C49;
}
.container11 .js {
  width: 65%;
  background-color: #C66C49;
}

.main__section {
  width: 100%;
  background-color: #FFFAF2;
}
.main__section .container3 {
  width: 80%;
  margin: 0 auto;
  padding: 70px 0px;
}
.main__section .container3 .skills_h3 {
  padding: 70px 0px;
  font-size: 25px;
  color: #333333;
}
@media (max-width: 1200px) {
  .main__section .container3 .skills_h3 {
    text-align: center;
    padding: 20px 0px;
  }
}
.main__section .main__content3 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .main__section .main__content3 {
    flex-wrap: wrap;
  }
  .main__section .main__content3 .skills {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .main__section .main__content3 .skills {
    width: 75%;
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .main__section .main__content3 .skills {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .main__section .main__content3 .skills img {
    width: 100%;
  }
}
.main__section .main__content3 .enginer__profile {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  padding-bottom: 20px;
}
.main__section .main__content3 .container333 {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
.main__section .main__content3 .container333 a {
  color: #333333;
  font-size: 18px;
}
.main__section .main__content3 .container333 a:hover {
  border-bottom: 2px solid #C66C49;
  cursor: pointer;
}
.main__section .main__content3 .container333 h3 {
  color: #333333;
  font-size: 20px;
}
.main__section .main__content3 .container11__teks {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  padding: 20px 0px;
}
.main__section .main__content3 .container11__teks a {
  color: #333333;
  font-size: 18px;
}
.main__section .main__content3 .container11__teks a:hover {
  border-bottom: 2px solid #C66C49;
  cursor: pointer;
}
.main__section .main__content3 .container11__teks h3 {
  color: #333333;
  font-size: 20px;
}

.enginer {
  width: 65%;
}
@media (max-width: 1350px) {
  .enginer {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  .enginer {
    margin-top: 26px;
    width: 100%;
  }
}
.enginer .skills-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.enginer .skills-bar .bar-text {
  width: 60%;
  text-align: start;
}
.enginer .skills-bar .bar {
  width: 60%;
  height: 24px;
  background-color: #F5D6AB;
  position: relative;
}
.enginer .skills-bar .bar .bar-content {
  width: 50%;
  height: 100%;
  background-color: #C66C49;
  position: absolute;
  top: 0;
  left: 0;
}
.enginer .skills-one {
  margin-bottom: 65px;
}

.contentp__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}
@media (max-width: 1200px) {
  .contentp__container {
    flex-wrap: wrap;
  }
}
.contentp__container .contenth3__con {
  width: 30%;
  line-height: 30px;
}
@media (max-width: 1400px) {
  .contentp__container .contenth3__con {
    width: 25%;
  }
}
@media (max-width: 1200px) {
  .contentp__container .contenth3__con {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .contentp__container .contenth3__con {
    width: 100%;
  }
}
.contentp__container .contenth3__con .contentp__h3 {
  color: #333333;
  font-size: 25px;
}
.contentp__container .contenth3__con .contenp__lorem {
  padding-top: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.card__4 {
  width: 56%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
@media (max-width: 1400px) {
  .card__4 {
    width: 65%;
  }
}
@media (max-width: 1200px) {
  .card__4 {
    width: 78%;
    margin: 0 auto;
  }
  .card__4 .card__4_1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card__4 .card__4_1 .card__4_1-img {
    height: 48%;
  }
  .card__4 .card__4_1 img {
    width: 100%;
  }
  .card__4 .card__4__1 {
    width: 45%;
  }
  .card__4 .card__4__1 img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .card__4 {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: #F5D6AB;
}
footer .get {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  color: #333333;
  padding-top: 50px;
}
footer .footer_2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  line-height: 30px;
  padding-bottom: 40px;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  footer .footer_2 .content_footer {
    width: 42%;
    margin-bottom: 20px;
  }
}
footer .footer_2 a {
  color: #333333;
  font-size: 16px;
}
footer .footer_2 a:hover {
  border-bottom: 2px solid #C66C49;
}/*# sourceMappingURL=sytle.css.map */